<a href="https://colab.research.google.com/github/luiz-star/FATEC_Sweetviz/blob/main/FATEC_Sweetviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='green'>FATEC_OURINHOS_2021 </font>

# <font color='blue'> AUTOMATIZANDO_EDA</font>

O que quer dizer análise de dados?

A análise de dados é a arte de transformar dados em conhecimentos e insights relevantes. ... Em suma, consiste na descrição das principais características de um conjunto de dados, listando e resumindo valores, certas vezes de apenas uma variável.

In [ ]:
# Instalando a biblioteca

!pip install sweetviz

Requirement already satisfied: sweetviz in c:\users\bueno\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\bueno\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\bueno\anaconda3\lib\site-packages (from sweetviz) (5.2.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\bueno\appdata\roaming\python\python38\site-packages (from sweetviz) (4.56.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\bueno\appdata\roaming\python\python38\site-packages (from sweetviz) (1.5.4)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\bueno\anaconda3\lib\site-packages (from sweetviz) (1.2.2)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\bueno\anaconda3\lib\site-packages (from sweetviz) (3.3.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\bueno\anaconda3\lib\site-packages (from sweetviz) (1.20.1)
Requirement already satisfied: zipp>=3.1.0 in c:\users\bueno\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\bueno\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bueno\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bueno\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\bueno\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\bueno\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\bueno\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: six in c:\users\bueno\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\bueno\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.1)

In [ ]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
import sweetviz

In [ ]:
#Importando a Base de Dados

df = pd.read_csv('https://raw.githubusercontent.com/Gabrielmarcial/Data-Marte/main/datasets/train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Gerando relatório     
relatorio = sweetviz.analyze(df)

                                             |          | [  0%]   00:00 -> (? left)

In [ ]:
# Gerando um relatorio em HTML
relatorio.show_html('relatorio.html') # Quando executado esse código, automaticamente abre uma aba em seu navegador

Report relatorio.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

Sweetviz também permite que você compare dois conjuntos de dados diferentes ou os dados no mesmo conjunto de dados, convertendo-os em conjuntos de dados de teste e treinamento. O comando fornecido abaixo nos permitirá visualizar o conjunto de dados que estamos usando, distribuindo-o igualmente nos dados de teste e treinamento.

In [ ]:
relatorio = sweetviz.compare (df [445:], df [: 445]) 
relatorio.show_html ('Compare.html')

                                             |          | [  0%]   00:00 -> (? left)

Report Compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Pesquise sempre a documentação

Dessa forma facilitando e otimizando a análise exploratória dos dados. No entanto essas ferramentas são poderosas quando entendemos realmente como tudo está funcionando.

Então ela não substitui a biblioteca pandas e sim é uma ferramenta a mais na hora de tratar nossa base de dados
https://pypi.org/project/sweetviz/

# <font color='Orange'>Mar calmo não faz Marinheiro bom</font>